In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset/dataset_merged.csv", parse_dates=['TransactionDate', 'SignupDate'])

In [3]:
customer_category_spend = df.groupby(['CustomerID', 'Category'])['TotalValue'].sum().unstack(fill_value=0)

In [4]:
customer_category_spend

Category      Books  Clothing  Electronics  Home Decor
CustomerID
C0001        114.60      0.00      2827.30      412.62
C0002          0.00   1025.46         0.00      837.28
C0003          0.00    122.36      1385.20     1217.82
C0004       1888.48      0.00      1355.74     2110.66
C0005          0.00      0.00      1180.38      853.86
...             ...       ...          ...         ...
C0196       1310.67   1585.36         0.00     2086.85
C0197          0.00      0.00       914.92     1013.73
C0198          0.00    904.84        26.99        0.00
C0199          0.00      0.00       594.38     1384.90
C0200       1665.60   2225.46       239.70      627.84

[199 rows x 4 columns]

In [5]:
region_dummies = pd.get_dummies(df.drop_duplicates(subset=['CustomerID'])[['CustomerID', 'Region']], 
                                columns=['Region']).set_index('CustomerID')
region_dummies

,Region_Asia,Region_Europe,Region_North America,Region_South America
CustomerID,,,,
C0199,False,True,False,False
C0146,True,False,False,False
C0127,False,True,False,False
C0087,False,False,False,True
C0070,False,True,False,False
...,...,...,...,...
C0058,False,False,True,False
C0095,False,False,False,True
C0151,False,False,False,True
C0078,True,False,False,False
C0110,True,False,False,False

In [6]:
features = customer_category_spend.join(region_dummies, how='left')

In [7]:
features

,Books,Clothing,Electronics,Home Decor,Region_Asia,Region_Europe,Region_North America,Region_South America
CustomerID,,,,,,,,
C0001,114.60,0.00,2827.30,412.62,False,False,False,True
C0002,0.00,1025.46,0.00,837.28,True,False,False,False
C0003,0.00,122.36,1385.20,1217.82,False,False,False,True
C0004,1888.48,0.00,1355.74,2110.66,False,False,False,True
C0005,0.00,0.00,1180.38,853.86,True,False,False,False
...,...,...,...,...,...,...,...,...
C0196,1310.67,1585.36,0.00,2086.85,False,True,False,False
C0197,0.00,0.00,914.92,1013.73,False,True,False,False
C0198,0.00,904.84,26.99,0.00,False,True,False,False
C0199,0.00,0.00,594.38,1384.90,False,True,False,False
C0200,1665.60,2225.46,239.70,627.84,True,False,False,False

In [8]:
features.isna().sum()

Books                   0
Clothing                0
Electronics             0
Home Decor              0
Region_Asia             0
Region_Europe           0
Region_North America    0
Region_South America    0
dtype: int64

In [9]:
feature_matrix = features.values

In [10]:
feature_matrix

array([[114.6, 0.0, 2827.3, ..., False, False, True],
       [0.0, 1025.46, 0.0, ..., False, False, False],
       [0.0, 122.36, 1385.2, ..., False, False, True],
       ...,
       [0.0, 904.84, 26.99, ..., True, False, False],
       [0.0, 0.0, 594.38, ..., True, False, False],
       [1665.6, 2225.46, 239.7, ..., False, False, False]],
      shape=(199, 8), dtype=object)

In [11]:
def dot_product(v1, v2):
    dp = 0
    for x, y in zip(v1, v2):
        dp += x * y
    return dp

def vector_norm(v):
    total = 0
    for x in v:
        total += x**2
    return total**0.5

def cosine_similarity(v1, v2):
    dp = dot_product(v1, v2)
    norm_v1 = vector_norm(v1)
    norm_v2 = vector_norm(v2)
    
    if norm_v1 == 0 or norm_v2 == 0:
        return 0.0
    
    return dp / (norm_v1 * norm_v2)

In [12]:
num_customers = feature_matrix.shape[0]
similarity_matrix = np.zeros((num_customers, num_customers))

In [13]:
for i in range(num_customers):
    for j in range(num_customers):
        if i == j:
            similarity_matrix[i][j] = 1.0  # 1 because with itself
        else:
            similarity_matrix[i][j] = cosine_similarity(feature_matrix[i], feature_matrix[j])

In [14]:
customer_ids = features.index.tolist()

In [15]:
lookalike_map = {}

for cust_id in ['C{:04d}'.format(i) for i in range(1, 21)]:  # "C0001" to "C0020"
    if cust_id not in customer_ids:
        lookalike_map[cust_id] = []
        continue

    idx = customer_ids.index(cust_id)
    
    # Extract their similarity scores
    scores = similarity_matrix[idx]
    sorted_scores = sorted(
        [(customer_ids[i], s) for i, s in enumerate(scores) if i != idx],
        key=lambda x: x[1],
        reverse=True
    )
    top_3 = sorted_scores[:3]
    lookalike_map[cust_id] = top_3

In [16]:
lookalike_map

{'C0001': [('C0140', np.float64(0.9969870705155506)),
  ('C0091', np.float64(0.9936719959001256)),
  ('C0069', np.float64(0.9913898123170012))],
 'C0002': [('C0134', np.float64(0.9988524848995728)),
  ('C0143', np.float64(0.9984281894152102)),
  ('C0159', np.float64(0.9905512052800601))],
 'C0003': [('C0007', np.float64(0.997757651887942)),
  ('C0163', np.float64(0.9976789604264621)),
  ('C0005', np.float64(0.993312702863571))],
 'C0004': [('C0075', np.float64(0.9943484807181324)),
  ('C0146', np.float64(0.9881682358538834)),
  ('C0090', np.float64(0.9757451550895494))],
 'C0005': [('C0163', np.float64(0.9968853577462633)),
  ('C0007', np.float64(0.994510948615991)),
  ('C0003', np.float64(0.993312702863571))],
 'C0006': [('C0185', np.float64(0.9934704146817561)),
  ('C0169', np.float64(0.9919864846415722)),
  ('C0081', np.float64(0.9901268534243352))],
 'C0007': [('C0163', np.float64(0.999664915876105)),
  ('C0003', np.float64(0.997757651887942)),
  ('C0005', np.float64(0.994510948615991))],
 'C0008': [('C0055', np.float64(0.9879318308382162)),
  ('C0170', np.float64(0.9753498999698658)),
  ('C0173', np.float64(0.9740591592164203))],
 'C0009': [('C0190', np.float64(0.9914606881229526)),
  ('C0067', np.float64(0.9756782030633855)),
  ('C0049', np.float64(0.9744325880552617))],
 'C0010': [('C0042', np.float64(0.9999985812091753)),
  ('C0083', np.float64(0.9999624065682724)),
  ('C0029', np.float64(0.9968731061721322))],
 'C0011': [('C0188', np.float64(0.9934005004390137)),
  ('C0074', np.float64(0.9933425886444646)),
  ('C0016', np.float64(0.9887425241603375))],
 'C0012': [('C0152', np.float64(0.9998514411784917)),
  ('C0199', np.float64(0.9919566578924199)),
  ('C0148', np.float64(0.9883635638704233))],
 'C0013': [('C0044', np.float64(0.9914932128079998)),
  ('C0046', np.float64(0.9863091107328992)),
  ('C0056', np.float64(0.970565148763817))],
 'C0014': [('C0089', np.float64(0.9999962271955198)),
  ('C0080', np.float64(0.9999945835108152)),
  ('C0110', np.float64(0.9999945129912573))],
 'C0015': [('C0071', np.float64(0.9908959155603598)),
  ('C0136', np.float64(0.9846774478627365)),
  ('C0052', np.float64(0.9784454382797917))],
 'C0016': [('C0188', np.float64(0.989849507019685)),
  ('C0011', np.float64(0.9887425241603375)),
  ('C0021', np.float64(0.9803065561993329))],
 'C0017': [('C0179', np.float64(0.9911943233011655)),
  ('C0177', np.float64(0.990901889554009)),
  ('C0035', np.float64(0.9882613140462861))],
 'C0018': [('C0051', np.float64(0.9947840204067977)),
  ('C0186', np.float64(0.9888265013862859)),
  ('C0023', np.float64(0.9887358817734181))],
 'C0019': [('C0070', np.float64(0.9860200396295361)),
  ('C0115', np.float64(0.9797969912918376)),
  ('C0191', np.float64(0.9696349954723618))],
 'C0020': [('C0120', np.float64(0.9999993303923725)),
  ('C0130', np.float64(0.9999980297358531)),
  ('C0069', np.float64(0.9998026818991951))]}

In [17]:
output_rows = []
for cust, lookalikes in lookalike_map.items():
    output_rows.append({
        'CustomerID': cust,
        'Lookalikes': str(lookalikes)
    })

In [18]:
output_rows

[{'CustomerID': 'C0001',
  'Lookalikes': "[('C0140', np.float64(0.9969870705155506)), ('C0091', np.float64(0.9936719959001256)), ('C0069', np.float64(0.9913898123170012))]"},
 {'CustomerID': 'C0002',
  'Lookalikes': "[('C0134', np.float64(0.9988524848995728)), ('C0143', np.float64(0.9984281894152102)), ('C0159', np.float64(0.9905512052800601))]"},
 {'CustomerID': 'C0003',
  'Lookalikes': "[('C0007', np.float64(0.997757651887942)), ('C0163', np.float64(0.9976789604264621)), ('C0005', np.float64(0.993312702863571))]"},
 {'CustomerID': 'C0004',
  'Lookalikes': "[('C0075', np.float64(0.9943484807181324)), ('C0146', np.float64(0.9881682358538834)), ('C0090', np.float64(0.9757451550895494))]"},
 {'CustomerID': 'C0005',
  'Lookalikes': "[('C0163', np.float64(0.9968853577462633)), ('C0007', np.float64(0.994510948615991)), ('C0003', np.float64(0.993312702863571))]"},
 {'CustomerID': 'C0006',
  'Lookalikes': "[('C0185', np.float64(0.9934704146817561)), ('C0169', np.float64(0.9919864846415722)), ('C0081', np.float64(0.9901268534243352))]"},
 {'CustomerID': 'C0007',
  'Lookalikes': "[('C0163', np.float64(0.999664915876105)), ('C0003', np.float64(0.997757651887942)), ('C0005', np.float64(0.994510948615991))]"},
 {'CustomerID': 'C0008',
  'Lookalikes': "[('C0055', np.float64(0.9879318308382162)), ('C0170', np.float64(0.9753498999698658)), ('C0173', np.float64(0.9740591592164203))]"},
 {'CustomerID': 'C0009',
  'Lookalikes': "[('C0190', np.float64(0.9914606881229526)), ('C0067', np.float64(0.9756782030633855)), ('C0049', np.float64(0.9744325880552617))]"},
 {'CustomerID': 'C0010',
  'Lookalikes': "[('C0042', np.float64(0.9999985812091753)), ('C0083', np.float64(0.9999624065682724)), ('C0029', np.float64(0.9968731061721322))]"},
 {'CustomerID': 'C0011',
  'Lookalikes': "[('C0188', np.float64(0.9934005004390137)), ('C0074', np.float64(0.9933425886444646)), ('C0016', np.float64(0.9887425241603375))]"},
 {'CustomerID': 'C0012',
  'Lookalikes': "[('C0152', np.float64(0.9998514411784917)), ('C0199', np.float64(0.9919566578924199)), ('C0148', np.float64(0.9883635638704233))]"},
 {'CustomerID': 'C0013',
  'Lookalikes': "[('C0044', np.float64(0.9914932128079998)), ('C0046', np.float64(0.9863091107328992)), ('C0056', np.float64(0.970565148763817))]"},
 {'CustomerID': 'C0014',
  'Lookalikes': "[('C0089', np.float64(0.9999962271955198)), ('C0080', np.float64(0.9999945835108152)), ('C0110', np.float64(0.9999945129912573))]"},
 {'CustomerID': 'C0015',
  'Lookalikes': "[('C0071', np.float64(0.9908959155603598)), ('C0136', np.float64(0.9846774478627365)), ('C0052', np.float64(0.9784454382797917))]"},
 {'CustomerID': 'C0016',
  'Lookalikes': "[('C0188', np.float64(0.989849507019685)), ('C0011', np.float64(0.9887425241603375)), ('C0021', np.float64(0.9803065561993329))]"},
 {'CustomerID': 'C0017',
  'Lookalikes': "[('C0179', np.float64(0.9911943233011655)), ('C0177', np.float64(0.990901889554009)), ('C0035', np.float64(0.9882613140462861))]"},
 {'CustomerID': 'C0018',
  'Lookalikes': "[('C0051', np.float64(0.9947840204067977)), ('C0186', np.float64(0.9888265013862859)), ('C0023', np.float64(0.9887358817734181))]"},
 {'CustomerID': 'C0019',
  'Lookalikes': "[('C0070', np.float64(0.9860200396295361)), ('C0115', np.float64(0.9797969912918376)), ('C0191', np.float64(0.9696349954723618))]"},
 {'CustomerID': 'C0020',
  'Lookalikes': "[('C0120', np.float64(0.9999993303923725)), ('C0130', np.float64(0.9999980297358531)), ('C0069', np.float64(0.9998026818991951))]"}]

In [19]:
lookalike_df = pd.DataFrame(output_rows)
lookalike_df.to_csv("Sanyog_Mishra_Lookalike.csv", index=False)